html {
     overflow : -moz-scrollbars-vertical;
     overflow : scroll;
}

html,body {
	background : #fefefe;
}

#container {
	min-width : 650px;
	position  : relative;
}

footer, #main  {
	padding      : 1em;
}

.centerizer {
	max-width : 540px;
	margin    : 0px auto;
	position  : relative;
}

header, footer {
	background-color : #f4f1f1;
}

header {
	padding : 0;
	height  : 92px;
}

	header h1 {
		margin      : 0 0 0.3em;
		padding-top : 14px;
	}

	header h1 a {
		color           : #333333;
		text-decoration : none;
	}

	header p {
		font-style : italic;
		margin     : 0;
	}

	#follow-me {
		text-indent : -9999px;
		display     : block;
		width       : 118px;
		height      : 62px;
		background  : url(../images/twitter-bird.png) no-repeat;
		position    : absolute;
		z-index     : 2;
		right       : 0;
		bottom      : -54px;
	}

	#fork-me {
		display     : block;
		width       : 135px;
		height      : 92px;
		text-indent : -9999px;
		position    : absolute;
		z-index     : 2;
		top         : 0;
		left        : -135px;
		background  : url(../images/forkme.png) no-repeat;
	}

footer {
	border-top : 1px solid #e4e1e1;
}

nav {
	background-color: #376477;
	padding: 0.5em 0;
	color: white;
	font-family : Verdana, "sans serif";
}

	nav ul {
		padding : 0;
	}

	nav li {
		margin-right : 1em;
		display      : inline;
	}

	nav a {
		color           : white;
		text-decoration : none;
		font-size       : 1.1em;
		font-family     : Verdana, "sans serif";
		text-transform	: lowercase;
	}

		nav a:hover {
			color           : #ffffff;
			text-decoration : none;
		}

#main h1,
#main h2,
#main h3,
#main h4,
.config-table th {
	color : #376477;
}

#page-title {
	margin-top : 0.2em;
}

.post-list {
	margin  : 0;
	padding : 0;
}

	.post-list li {
		list-style     : none;
		font-size      : 1.2em;
		letter-spacing : 0.1em;
		line-height    : 2;
	}

	.post-list a {
		text-decoration : none;
	}

#flickr-slideshow {
	width  : 540px;
	height : 390px;
	margin : 1em auto;
}

.config-table th,
.config-table td {
	text-align     : left;
	padding        : 0.5em;
	vertical-align : top;
}