@media print {

	/* hide content */
	.no-print {
		display : none;
	}

	/* code blocks */
	.highlight  { 
		padding       : 0.5em 1.5em;
		margin-bottom : 1.5em;
		border        : none;
	}

	pre, code {
		white-space : pre-wrap;
	}

}