/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */

/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body {
  font-size: 80%;
  color: #222;
  font-family: Georgia, serif;
}

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #333333; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; height: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1em; font-size:1.2em; }
p img       { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus,
a:hover     { color: #000; }
a           { color: #333; text-decoration: underline; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

/* Article text
--------------------------------------------------------------- */
article {
  font-family : Verdana, "Sans serif";
  font-size   : 1em;
}

article p {
  font-size : 1em;
}

pre,code    { margin: 1.5em 0; white-space: pre; }
tt          { display: block; margin: 1.5em 0; line-height: 1.5; }
pre, code, tt, .mono {
  font-size   : 0.9em;
  font-family : "Bitstream Vera Sans Mono","Monaco",'andale mono', 'lucida console', monospace, "Courier New";
  line-height : 1.5;
}

article h1,
article h2,
article h3,
article h4,
article blockquote,
article #post-content p:first-child,
article #post-content p:first-child * {
  font-family : Georgia, serif;
}

article p:first-child {
  font-size   : 1.2em;
  font-style  : italic;
}

article #post-content blockquote p {
  font-size  : 1em;
  font-style : italic;
}

#dsq-content .dsq-comment-text p {
  font-size  : 1em;
  font-style : normal;
}